//公共样式

//全局导航
.van-nav-bar__title{
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  font-size: 16px;
}
.van-icon-arrow-left::before{
  color: rgb(88, 88, 88);
font-size: 20px;
}

//底部导航
.van-tabbar-item:nth-child(3){
  .van-tabbar-item__icon{
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 900;
    .van-icon-plus::before{
      transform: translateY(10px);
    }
  }
}
.van-tabbar-item__icon{
  img{
    width: 25px;
    height: 20px;
    border-radius: 0;
  }
}
.van-tabbar-item__text{
  color: rgb(88, 88, 88);
}

//首页切换tab背景色
.index .van-tab {
  background: #f6483f;
  color:#fff;
  font-weight: 900;
}
//首页下拉刷新红色背景
.index .van-pull-refresh__head{
  background-color: red;
}
//消息页icon文字
.msg .van-grid-item__text{
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}
.msg .van-icon__image{
  border-radius: 0;
}


//案例和博文标题
.case .van-nav-bar__text,.blog .van-nav-bar__text{
  font-size: 18px;
  color: #000;
}

//设计师头部返回箭头
.des-hd .van-icon-arrow-left::before,.csex .van-icon-arrow-left::before{
    content: "";
    color: #000;
  }

//添加页面X
.add .van-grid-item:nth-child(4){
  .van-icon__image{
    border-radius: 50%;
    box-shadow: red 0 0 1px;
  }
  
}

//发布问题页面
.send{
  .van-cell {
    height: 60px;
    border-bottom: 1px solid #ccc;
    width: 85%;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    .van-cell__value{
      height: 60px;
      .van-field__body{
        height: 60px;
        line-height: 60px;
        .van-field__control{
          font-size: 18px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #666666;
        }
      }
    }
  }
  .van-button__text{
    color: #F6483F;
  }
  .van-uploader__upload{
    width: 120px;
    height: 120px;
    background-color: rgb(236, 236, 236);
  }
  .van-icon-plus::before {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
  }
  .van-uploader__preview-image{
    width: 120px;
    height: 120px;
  }
}
